@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat+Alternates&display=swap');

body {
  background-color: white;
  font-family: 'Montserrat Alternates', 'Arial', sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

#content {
  max-width: 1600px;
  margin: 0 auto;
}

header {
  background-color: #e3f6f5;
  display: grid;
  grid-template-columns: 150px auto;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  text-align: center;
  color: #2D334A;
  text-decoration: none;
  padding: 35px;
}

nav a:hover {
  background-color: #2D334A;
  color: #FFD803;
}

#logo-link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px;
}

#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}

#hero-img {
  width: 100%;
}

#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
}

#hero-msg h1, #hero-msg h4 {
  text-align: center;
  color: white;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.rivers-card {
  grid-column: 2/4;
  grid-row: 2/3;
}

.camping-card {
  grid-column: 5/7;
  grid-row: 2/3;
}

.rapids-card {
  grid-column: 8/10;
  grid-row: 2/3;
}

.mountains {
  width: 100%;
  grid-column: 2/7;
  grid-row: 5/8;
  box-shadow: 5px 5px 10px black;
}

.card-img {
  border: 10px solid #2D334A;
  transition: transform .5s;
  box-shadow: 5px 5px 10px lightslategray;
}

.card-img:hover {
  opacity: .6;
  transform: scale(1.1);
}

.card-img, .mountains {
  width: 100%;
}

.rivers-card, .camping-card, .rapids-card {
  margin: 200px 0;
}

h2 {
  font-family: 'Libre Baskerville', Georgia, serif;
  margin: 0;
}

.button-box {
  text-align: center;
}

main section {
  text-align: center;
}

main section img {
  box-sizing: border-box;
}

#background {
  height: 725px;
  background: #2D334A;
  grid-column: 1/11;
  grid-row: 4/9;
}

.book,
.join {
  background-color: #FFD803;
  color: #272343;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.book:hover,
.join:hover {
  background-color: #2D334A;
  color: #FFD803;
}


.msg {
  background-color: #BAE8E8;
  line-height: 1.5em;
  padding: 35px;
  grid-column: 6/10;
  grid-row: 6/7;
  box-shadow: 5px 5px 10px black;
}

.home-title {
  color: #272343;
  font-family: 'Libre Baskerville', Georgia, serif;
  font-size: 2em;
  margin-top: 10px;
}

h4 {
  color: #2D334A;
}

.msg h2 {
  color: #272343;
  font-family: 'Libre Baskerville', Georgia, serif;
}

.msg p {
  color: #2D334A;
  font-size: .8em;
  padding-bottom: 15px;
}

.logo {
  border-radius: 50%;
  width: 80px;
}

.icon {
  width: 80px;
  padding-top: 10px;
}

footer {
  background-color: #e3f6f5;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer h3 {
  color: #272343;
}

footer h3 a:hover {
  text-decoration: underline;
}

footer a {
  color: #2D334A;
  text-decoration: none;
}

footer a:hover {
  color: #6f7364;
}

footer .social img {
  padding-top: 15px;
}


/* FAQ Page  */

.faq-hero {
  background-image: linear-gradient(rgba(0 0 0 / 20%), rgba(0 0 0 / 20%)),url(/wwr/images/faq.svg);
  background-size: cover;
  background-position: bottom;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.faq-msg {
  color: #272343;
}

.faq-msg h2 {
  font-size: 5rem;
}

.faq-msg p {
  font-size: 2rem;
  text-shadow: 1px 1px 1px #e3f6f5;
}

.faq-title {
  text-align: center;
  margin: 0;
  padding-block: 30px;
}

.questions-grid {
  display: grid;
  grid-template-columns: 1fr, 2fr, 1fr, 2fr, 1fr;
  gap: 25px;
  text-align: center;
  margin-inline: 60px;
  list-style: url('/wwr/images/target.png');
}

.questions-grid .q1 {
  grid-row: 2/3;
  grid-column: 2/3;
}

.questions-grid .q2 {
  grid-row: 2/3;
  grid-column: 4/5;
}

.questions-grid .q3 {
  grid-row: 3/4;
  grid-column: 2/3;
}

.questions-grid .q4 {
  grid-row: 3/5;
  grid-column: 4/5;
}

.questions-grid .q5 {
  grid-row: 4/5;
  grid-column: 2/3;
}

.questions-grid .q6 {
  grid-row: 5/6;
  grid-column: 3/4;
}

.questions-grid h2 {
  font-size: 1.5rem;
}

.questions-grid p {
  font-size: 1rem;
  line-height: 1.5;
}
.questions-grid section {
  text-align: left;
}

/* screen < 900px */

@media screen and (max-width: 900px) {
  #hero, .home-grid {
      display: block;
      height: auto;
  }
  nav, footer {
      flex-direction: column;
  }
  nav a {
      display: block;
      padding: 15px;
  }
  #hero {
      margin-top: 0;
  }
  #hero-msg {
      margin-top: 0;
  }
  #hero-msg h4 {
      display: none;
  }
  .home-title {
      font-size: 25px;
      color: #6f7364;
  }
  .rivers-card, .camping-card, .rapids-card { 
      margin: 50px auto;
      width: 60%;
  }
  #background {
      display: none;
  }
  .mountains, .msg {
      width: 80%;
      display: block;
      margin: 0 auto;
  }
  footer {
      margin-top: 25px;
  }


  /* FAQ screen < 900px*/
  
  .questions-grid {
    display: flex;
    flex-direction: column;
  }

}